<div class="container col-12">
    <%= form_tag bikes_path, method: :get do %>
  <div class="form-search">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a bike ðŸ" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
    <% end %>

  <br>

  <div class="banner-bike-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperstrend.com/wp-content/uploads/Sports/Sports01/moto-sports-dirt-bike-racing-hd-wallpaper-2560x1440.jpg);">
    <div class="container">
      <h1><strong>Rent your Dirt Bike and spend a great time in Israel!</strong></h1>
      <p>Yamaha, Suziki, BMW, Ducati, KTM, among others!</p>
    </div>
  </div>

  <br>

  <div class="cards-bike-homepage">
    <div class="card-category-bike-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1517404084029-d6be5421be66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
      <h1 class="button-inside-bike-card btn btn-dark">Renting</h1>
    </div>
    <div class="card-category-bike-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1453901593090-e57bfb58f39b?ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80)">
      <h1 class="button-inside-bike-card btn btn-dark">About Us</h1>
    </div>
    <div class="card-category-bike-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1522922952185-2e35f28eec57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80)">
      <h1 class="button-inside-bike-card btn btn-dark">Pricing</h1>
    </div>
  </div>
  <br>
</div>
