<div class="container col-12">
  <div class="container-index-page-card">
  <div class="cards-bike-index" style="width: 18rem;">
    <% @bikes.each do |bike| %>
    <img src="https://i2.wp.com/www.asphaltandrubber.com/wp-content/uploads/2019/03/Mugen-E-Rex-Hachi-electric-dirt-bike-02-scaled.jpg?fit=2560%2C1707&ssl=1" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title"><%= bike.brand %></h5>
      <p class="card-text"><%= bike.price %></p>
      <a href="<%= bike_path(bike) %>" class="btn btn-dark stretched-link">Select this!</a>
    </div>
    <% end %>
  </div>
</div>
