<div class="container container-cards-index-page">
  <% @bikes.each do |bike| %>
  <div class="card-product card-bike-index-page">
    <img src="https://source.unsplash.com/random" />
    <div class="card-product-infos">
      <h2 class="card-title"><%= bike.brand %></h2>
      <p class="card-text">$<%= bike.price %></p>
      <p class="card-text">Pick up in: <%= bike.location %></p>
      <a href="<%= bike_path(bike) %>" class="btn btn-dark">Select Bike</a>
    </div>
  </div>
  <% end %>
</div>
