.info-card {
  background-color: blue;
  display: flex;
}

.dashboard-flex {
  display: flex;
  flex-grow: 1;
  text-align: center;


}

.card-db-bikes {
  background-color: white;
  padding: 16px;
  width: 50%;
}


.card-db-bookings {
  background-color: white;
  padding: 16px;
  width: 50%;
}

.db-booking-card {
  background-color: white;
  display: flex;
}
.db-booking-info {
  background-color: yellow;
}

.empty-card {
  background-color: orange;
}

.welcome-card {
  display: block;
}


