.info-card {
  display: flex;
  align-item: center;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 8px;
  height: 20rem;
    border: 1px solid #fbd35f;
  & img {
    border-radius: 8px 0px 0px 8px;
    width: 60%;
  }
}

.welcome-card {
  display: block;
      padding: 20px;
}
.dashboard-flex {
  display: flex;
  flex-grow: 1;
  text-align: center;
}

.bike-link-card {
  color: black;
  &:hover {
    text-decoration: none;
    color: #ea5455;
  }
}


