.navbar {
  justify-content: space-between;
  background: white;
}

.nav-item a:hover{
  box-shadow: inset 0 0 0 25px #f7f7f7;
  outline: $primary-yellow solid;
}

.nav-item {
  padding-right: 15px;

}
.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar-bike-homepage {
  justify-content: space-between;
  background: white;
}
.navbar-bike-homepage .navbar-collapse {
  flex-grow: 0;
}
.navbar-bike-homepage .navbar-brand img {
  width: 40px;
}

.title-navbar {
  font-size: 35px;
  font-family: 'Work Sans', sans-serif;
}

.title-navbar a, a:hover{
  color: black;
}


.logo-navbar-and-title {
  display: flex;
}
